@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme inline {
    --color-secondary: #6b7280;
    --breakpoint-sm: 768px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.page-transition {
    animation: fadeIn 0.5s ease forwards;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000;
}
